# azure-pipelines.yml
trigger: none
pr: none

parameters:
  - name: 'ENVIRONMENT'
    displayName: 'Which environment to run tests for?'
    type: string
    values:
      - 'DEV'
      - 'UAT'
    default: 'DEV'

  - name: 'CARDS_ONBOARDED'
    displayName: 'Test cards for onboarded payment flux'
    type: boolean
    default: true

  - name: 'PAYPAL_ONBOARDED'
    displayName: 'Test paypal for onboarded payment flux'
    type: boolean
    default: true

  - name: 'PAYPAL_GUEST'
    displayName: 'Test paypal for APM guest payment flux'
    type: boolean
    default: true

  - name: 'BANCOMATPAY_GUEST'
    displayName: 'Test bancomat pay for APM guest payment flux (only NW)'
    type: boolean
    default: true

  - name: 'CARDS_GUEST'
    displayName: 'Test cards for guest payment flux'
    type: boolean
    default: true

  - name: 'CARDS_CONTEXTUAL_ONBOARDING'
    displayName: 'Test cards for contextual wallet onboarding flux'
    type: boolean
    default: true

variables:
  - name: 'HOSTNAME'
    ${{ if eq( parameters.ENVIRONMENT, 'UAT') }}:
      value: 'https://api.uat.platform.pagopa.it'
    ${{ else }}:
      value: 'https://api.dev.platform.pagopa.it'
  - name: 'PAYMENT_USER_ID'
    ${{ if eq( parameters.ENVIRONMENT, 'UAT') }}:
      value: 'bc05c4ab-4657-46a3-b379-4f06890032ea'
    ${{ else }}:
      value: '05b47118-ac54-4324-90f0-59a784972184'
  - name: 'CONTEXTUAL_ONBOARDING_USER_ID'
    ${{ if eq( parameters.ENVIRONMENT, 'UAT') }}:
      value: 'bc05c4ab-4657-46a3-b379-4f06890032ea'  # TODO: Update with correct UAT user ID for contextual onboarding
    ${{ else }}:
      value: '21c6d8b5-1407-49aa-b39c-a635a1b186ce'

stages :
  - stage: 'API_tests_eCommerce_for_IO_guest_Cards_NW'
    displayName: 'CARDS - eCommerce for IO - Guest Cards - Setup Flow - NW - Run postman collection'
    condition: and(succeeded(), eq('${{parameters.CARDS_GUEST}}', true))
    dependsOn: []
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: api_tests
        steps:
          - script: |
              yarn global add newman
            displayName: 'Newman installation'
          - script: |
              newman run src/api-tests/ecommerce-for-io/ecommerce-for-io-payguest-cards.postman_collection.json --env-var USER_ID=$(payment_user_id) --env-var PAYMENT_METHOD_NAME="CARDS" --env-var HOSTNAME=$(hostname) --env-var WALLET_TOKEN_TEST=$(wallet_token_test) --ignore-redirects --reporters cli,junit --reporter-junit-export Results/ecommerce-for-io-${{ parameters.ENVIRONMENT }}-guest-cards-api-TEST.xml
            displayName: 'Run api test'
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'

  - stage: 'API_tests_eCommerce_for_IO_contextual_onboarding_NW'
    displayName: 'CARDS - eCommerce for IO - Contextual Onboarding - Setup Flow - NW - Run postman collection'
    condition: and(succeeded(), eq('${{parameters.CARDS_CONTEXTUAL_ONBOARDING}}', true))
    dependsOn: []
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: api_tests
        steps:
          - script: |
              yarn global add newman
            displayName: 'Newman installation'
          - script: |
              newman run src/api-tests/ecommerce-for-io/ecommerce-for-io-contextual-onboarding.postman_collection.json --env-var USER_ID=$(contextual_onboarding_user_id) --env-var PAYMENT_METHOD_NAME="CARDS" --env-var HOSTNAME=$(hostname) --env-var WALLET_TOKEN_TEST=$(wallet_token_test) --ignore-redirects --reporters cli,junit --reporter-junit-export Results/ecommerce-for-io-${{ parameters.ENVIRONMENT }}-contextual-onboarding-api-TEST.xml
            displayName: 'Run api test'
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'

  - stage: 'API_tests_eCommerce_for_IO_creditCard_NW'
    displayName: 'CARDS - eCommerce for IO - Credit Card - NW - Run postman collection'
    condition: and(succeeded(), eq('${{parameters.CARDS_ONBOARDED}}', true))
    dependsOn: [ ]
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: api_tests
        steps:
          - script: |
              yarn global add newman
            displayName: 'Newman installation'
          - script: |
              newman run src/api-tests/ecommerce-for-io/ecommerce-for-io-paywallet.postman_collection.json --env-var PAYMENT_USER_ID=$(payment_user_id) --env-var WALLET_TYPE="CARDS" --env-var HOSTNAME=$(hostname) --ignore-redirects --reporters cli,junit --reporter-junit-export Results/ecommerce-for-io-uat-${{ parameters.ENVIRONMENT }}-creditcard-api-TEST.xml
            displayName: 'Run api test'
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'

  - stage: 'API_tests_eCommerce_for_IO_paypal_NW'
    displayName: 'PAYPAL - eCommerce for IO - Paypal - NW - Run postman collection'
    condition: and(succeeded(), eq('${{parameters.PAYPAL_ONBOARDED}}', true))
    dependsOn: API_tests_eCommerce_for_IO_creditCard_NW
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: api_tests
        steps:
          - script: |
              yarn global add newman
            displayName: 'Newman installation'
          - script: |
              newman run src/api-tests/ecommerce-for-io/ecommerce-for-io-paywallet.postman_collection.json --env-var PAYMENT_USER_ID=$(payment_user_id) --env-var WALLET_TYPE="PAYPAL" --env-var HOSTNAME=$(hostname) --ignore-redirects --reporters cli,junit --reporter-junit-export Results/ecommerce-for-io-uat-${{ parameters.ENVIRONMENT }}-paypal-api-TEST.xml
            displayName: 'Run api test'
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'

  - stage: 'API_tests_eCommerce_for_IO_apm_Paypal_NW'
    displayName: 'PAYPAL - eCommerce for IO - APM - Paypal - NW - Run postman collection'
    condition: and(succeeded(), eq('${{parameters.PAYPAL_GUEST}}', true))
    dependsOn: API_tests_eCommerce_for_IO_paypal_NW
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: api_tests
        steps:
          - script: |
              yarn global add newman
            displayName: 'Newman installation'
          - script: |
              newman run src/api-tests/ecommerce-for-io/ecommerce-for-io-payguest.postman_collection.json --env-var PAYMENT_USER_ID=$(payment_user_id) --env-var PAYMENT_METHOD_NAME="PAYPAL" --env-var HOSTNAME=$(hostname) --ignore-redirects --reporters cli,junit --reporter-junit-export Results/ecommerce-for-io-${{ parameters.ENVIRONMENT }}-apm-paypal-nw-api-TEST.xml
            displayName: 'Run api test'
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'

  - stage: 'API_tests_eCommerce_for_IO_apm_Bancomatpay_NW'
    displayName: 'BPAY - eCommerce for IO - APM - Bancomatpay - NW - Run postman collection'
    condition: and(succeeded(), eq('${{parameters.BANCOMATPAY_GUEST}}', true))
    dependsOn: API_tests_eCommerce_for_IO_apm_Paypal_NW
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: api_tests
        steps:
          - script: |
              yarn global add newman
            displayName: 'Newman installation'
          - script: |
              newman run src/api-tests/ecommerce-for-io/ecommerce-for-io-payguest.postman_collection.json --env-var PAYMENT_USER_ID=$(payment_user_id) --env-var PAYMENT_METHOD_NAME="BANCOMATPAY" --env-var HOSTNAME=$(hostname) --ignore-redirects --reporters cli,junit --reporter-junit-export Results/ecommerce-for-io-${{ parameters.ENVIRONMENT }}-apm-bpay-nw-api-TEST.xml
            displayName: 'Run api test'
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'
